@tailwind base;
@tailwind components;
@tailwind utilities;

/* Smooth scrolling */
html { scroll-behavior: smooth; }
/* Hide scrollbar for clean mobile look but keep functionality */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}
.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
